/*
@font-face {
    font-family: "Avenir";
    src: url("../font2/Avenir.ttc");
    font-weight: 900;
}
*/

/*Comienza navbar */
.logo{

    width:  100% !important;
    height: 100% !important;
    padding-left: 20% !important;
    
}

.navbar{
    font-family:'Montserrat', sans-serif !important;
    color: blue !important;
}

.navbar li {

    padding: 0px 30px !important;
}
.navbar li a{

    color: #041160 !important;
    font-size: 23px !important;
    text-shadow: 1px 0;

}
.button_navbar{
    font-size: 23px ! important;
    background-color:#041160 !important; 
    border: none!important; 
    color: white!important; 
    text-decoration: none!important; 
    margin: 2px 2px!important; 
    cursor: pointer!important; 
    border-radius: 30px;

}
.button_navbar a {
 color: white !important    ;
}

/*Fin navbar */

/*Comienza la sección 1 */
.title{
 margin-top: 30%;
 margin-left: 10%;
 font-family: 'Montserrat', sans-serif  !important;
}



.row:after {
    content: "";
    display: table;
    clear: both;
  }

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 1000px; /* Should be removed. Only for demonstration */
  }

.column_image {

    float: left;
    width: 50%;
    padding: 10px;
    height: 1000px; /* Should be removed. Only for demonstration */
}

.column .title
{
    font-size: 470% !important;
    color: #4AC3E9;
    font-weight: bolder;
    text-shadow: 2px 0;
    letter-spacing:1px; 

}

.paragraph
{
    margin-top: 5% !important;
    margin-left: 10% !important;
    font-family: 'Montserrat', sans-serif  !important;
    color: #526775;
}





.background {

    background-image: url("../imgNew/home.png");
    background-size: contain;
    background-repeat: no-repeat;

    
}


.button_paragraph
{
    height:10%;
    font-weight: 20%;
    font-size: 30px ! important;
    background-color:#041160 !important; 
    border: none!important; 
    color: white!important; 
    text-decoration: none!important; 
    margin: 5% 37%!important; 
    cursor: pointer!important; 
    border-radius: 35px;
    padding: 10px 60px;
    box-shadow: 0px 0px 66px -12px rgba(108,82,240,0.89);
    text-shadow: 1px 0;
}

/*Fin la sección 1 */


/*Comienza la sección 2 */
.background_forms{

    background-image: url("../SVG/Recurso\ 3.svg"), url("../SVG/Recurso\ 7.svg"), url("../SVG/Recurso\ 4.svg"), url("../SVG/Recurso\ 8.svg"), url("../SVG/Recurso\ 16.svg");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat,no-repeat;
    background-position: 13% 7%, 40% 50%,70% 50%,0% 300%,19% 125%; /* x - y*/
    background-size: 14%,10%,10%,20%,15%;


}

.solucion_titulo{

    font-size: 350% !important;
    color: #338BFF; /* Temporal */ 
    font-weight: bolder;
    text-shadow: 2px 0;
    letter-spacing:4px;
    margin-left:25%; 
    margin-top: 9%;
}
.solucion_subtitulo
{
    font-size: 350% !important;
    color: #041160; /* Temporal */ 
    font-weight: bolder;
    text-shadow: 2px 0;
    letter-spacing:1px;
    margin-left:45%; 
    margin-top: 15%;

}

.solucion_card {
    background-image: url("../imgNew/quees1-03.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
    padding: 5px;
    height: 200px; /* Should be removed. Only for demonstration */
    box-shadow: 0px 0px 66px -12px rgba(108,82,240,0.89);
    text-shadow: 1px 0;
    border-radius: 35px;
    float:center;

  }





  .column_card {
    align-content: center;
    float: left;
    width: 25%;
    padding: 0 10px;
    position: relative;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row_card {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row_card:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column_card {
    
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */

  .img_card{
    
    padding-left: 10%;
    border: none!important; 
    border-radius: 25px;
    height: 400px;
    width: 400px;
}

.img_number
{
    position: absolute;
    font-size: 500%;
    color: white!important; 
    font-family: 'Montserrat', sans-serif  !important;
    font-weight: 900;
    top:12%;
    right: 32%;
}

.img_title1
{
    position: absolute;
    font-size: 250%;
    color: white!important; 
    font-family: 'Montserrat', sans-serif  !important;
    font-weight: 900;
    top:40%;
    right:40%;
}

.img_title2
{
    position: absolute;
    font-size: 250%;
    color: white!important; 
    font-family: 'Montserrat', sans-serif  !important;
    font-weight: 900;
    top:40%;
    right:40%;
}

.img_title3
{
    position: absolute;
    font-size: 250%;
    color: white!important; 
    font-family: 'Montserrat', sans-serif  !important;
    font-weight: 900;
    top:40%;
    right:40%;
}

.img_title4
{
    position: absolute;
    font-size: 250%;
    color: white!important; 
    font-family: 'Montserrat', sans-serif  !important;
    font-weight: 900;
    top:40%;
    right:40%;
}


.img_text1
{
    position: absolute;
    font-size: 190%;
    color: white!important; 
    font-family: 'Montserrat', sans-serif  !important;
    font-weight: 100;
    top:55%;
    right:40%;
}

.img_text2
{
    position: absolute;
    font-size: 190%;
    color: white!important; 
    font-family: 'Montserrat', sans-serif  !important;
    font-weight: 100;
    top:55%;
    right:40%;
}
.img_text3
{
    position: absolute;
    font-size: 190%;
    color: white!important; 
    font-family: 'Montserrat', sans-serif  !important;
    font-weight: 100;
    top:55%;
    right:40%;
}
.img_text4
{
    position: absolute;
    font-size: 190%;
    color: white!important; 
    font-family: 'Montserrat', sans-serif  !important;
    font-weight: 100;
    top:55%;
    right:40%;
}
/*Fin la sección 2 */

/*Inicio sección 3*/
.background_seccion3{

    background-color: white !important;
    background-image: url("../SVG/Recurso\ 8.svg"), url("../SVG/Recurso\ 16.svg"), url("../SVG/Recurso\ 5.svg");
    background-repeat:no-repeat,no-repeat,no-repeat;
    background-position: 0% -600%,19% -30%,80% 15%; /* x - y*/
    background-size: 20%, 15%, 10%;
    height: 1000px !important;
    width: auto;

}

.paragraph_seccion3{
    font-family: 'Montserrat', sans-serif  !important;
    color: #526775;
    margin-top: 4%;    


}

.paragraph_lastPhrase_seccion3{
    font-family: 'Montserrat', sans-serif  !important;
    color: #526775;
    margin-top: 4%;    
   
}

.column_seccion3{

    align-content: center;
    float: left;
    width: 16%;
    margin-right: 35px;

}
.row_seccion3
{
    padding-top: 5%;
    align-content: center; 
    width: 80%;
    padding-left: 25%;

}


.title_seccion3{
    font-family: 'Montserrat', sans-serif  !important;
    color: #041160;
    margin-top: 4%; 
    font-weight: 400;
    letter-spacing: 2px;


}

/*Fin seccion3*/

/*Inicio seccion4*/

.background_seccion4{

    background-color: white !important;
    background-image: url("../SVG/Recurso\ 18.svg"),url("../SVG/Recurso\ 14.svg"),url("../SVG/Recurso\ 15.svg"),url("../SVG/Recurso\ 16.svg"),url("../SVG/Recurso\ 17.svg");
    background-repeat:no-repeat, no-repeat,no-repeat,no-repeat,no-repeat;
    background-position: 0% 50%, 115% 20%,30% 5%,65% 100%,90% 100%; /* x - y*/
    background-size: 45%,28%,10%,10%,10%;
    height: 1000px !important;
    width: auto;

}


.container_tittle_seccion4
{

    width: 800px; 
    height:auto; 
    padding-top: 20%;
    padding-left: 5%;
}
.title_seccion4
{
    font-family: 'Montserrat', sans-serif  !important;
    font-size: 370% !important;
    color: white;
    font-weight: 300;
    margin-top: 50%;
    margin-left: 20%;


}

.card_number1
{
    position: relative;
    background-color: white;
    z-index: 2;
    width: 500px;
    height: 300px;
    box-shadow: 0px 0px 36px -2px rgba(153,147,153,0.82);
    margin-left: 10%
    
}

.card_number2
{
    position: relative;
    background-color: white;
    z-index: 2;
    width: 500px;
    height: 300px;
    box-shadow: 0px 0px 36px -2px rgba(153,147,153,0.82);
    margin-top: 2%;
    margin-left: 2%;

}

.card_number3
{
    position: relative;
    background-color: white;
    z-index: 2;
    width: 500px;
    height: 300px;
    box-shadow: 0px 0px 36px -2px rgba(153,147,153,0.82);
    margin-top: 3%;
    margin-left: 6%;
}

.card_number4
{
    position: relative;
    background-color: white;
    z-index: 2;
    width: 500px;
    height: 300px;
    box-shadow: 0px 0px 36px -2px rgba(153,147,153,0.82);
    margin-top: 3%;
    margin-right: -1%;
}

.card_text
{
    margin-top: 6%;
    margin-left: 6px;
    color: #526775;
    font-size: 150%;
    font-family: 'Montserrat', sans-serif  !important;
    padding-top: 15%;
    margin-left: 10%;
    font-weight: 300;  
}

.card_text_highlight
{
    color: #4AC3E9 !important; /* Temporal */ 
    font-weight: 400 !important;


}


/*

FORM
*/

.form_text
{
    font-family: 'Montserrat', sans-serif !important;
    color: #041160;
    margin-top: 4%;
    font-weight: 500;
    font-size: 380%;
    position: absolute;
    z-index: 4;
    margin-left: 14%;
    margin-top: 9%;

}

.form_tittle
{
    font-family: 'Montserrat', sans-serif !important;
    color: #041160;
    font-weight: 500;
    font-size: 300%;
    position: absolute;
    z-index: 4;
    margin-left: 53%;
    margin-top: -13%;

}

.button_form{
    height: 6%;
    font-size: 20px ! important;
    background-color: #041160 !important;
    border: none!important;
    color: white!important;
    text-decoration: none!important;
    margin: 10% 61%!important;
    cursor: pointer!important;
    border-radius: 35px;
    padding: 1px 70px;
    box-shadow: 0px 0px 66px -12px rgba(108,82,240,0.89);
    text-shadow: 1px 0;
    position: absolute;
    z-index: 4;

}


.cellphone_form
{
    position: absolute;
    z-index: 4;
    margin-left: 57%;
    font-size: 360%;
    text-align: center;
    border: none;
    border-bottom: 4px solid #041160;
}


.cellphone_form::placeholder
{
    letter-spacing: 2px;
    color: gray;

}

.country_list
{
    position: absolute;
    margin-top: 20%;
    margin-left: 30%;
    z-index: 4;
    width: 50%;

}





/*Fin de seccion 4*/





/*Inicio de seccion 5*/


.background_seccion5
{
    min-height:600px;
    background: white


  
    
}


.footer_gradient
{
    min-height: 1000px !important;
    background: linear-gradient(312deg, rgba(91,59,255,1) 0%, rgba(46,198,236,1) 100%) !important; 
}

.contact_form
{

    width: 80%;
    height: 60%;
    margin-left: 10%;
    margin-top: 10%;
    overflow: auto;

}

.contact_form_polygon
{

    shape-outside:polygon(5.08% 91.05%,19.79% 88.25%,79.21% 76.84%,79.04% 45.41%,79.08% 16.00%,5.79% 11.30%);
    background: white;

}


.image_test {
    width: 2000px;
    height: 1200px;
    margin-top: -29%;
    margin-left: -2%;
    z-index: 2;
    position: absolute;
}


.column_footer
{
    float: left;
    width: 80%;


}

.left_container
{


    margin-top: 30%; 
    margin-left: 9%;
}

.column_footer_rigth
{

    float: left;
    width: 20%;
    color: white;
    font-family: 'Montserrat', sans-serif  !important;
    font-weight: 300;


}


.title_footer{

    color: white;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 300;
    font-size: 250%;
    letter-spacing: 1px;

}


.text_footer
{
    color: white;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 340;
    font-size: 110%;
    letter-spacing: 1px;
}


.line_footer
{

    color:white; 
    width: 29%;
    margin-left: 0%;
}

.rigth_container
{


    margin-top: 121%;
    margin-right: 9%;
    font-size: 70%;
}

.rigth_cotainer_list
{

  font-size: 200%;
  font-weight: 300;
  margin-top: 10%;
  letter-spacing: 1px;

}

.img_footer
{
    width: 4%;
    height: 4%;
    display: inline;
}


.tittle_footer
{
    font-size: 400%;
    font-weight: 400;

}
.info_footer
{

    color: white;
    display: inline;
    margin-left: 2%;
}


/*Fin de seccion 5*/




