@media only screen  and (max-width:962px) and (min-width:881px)
{


    .max_resolution{
        display: none !important;
    }

    body{
        background-image: url(../../SVG/Recurso\ 3.svg), url(../../SVG/Recurso\ 7.svg), url(../../SVG/Recurso\ 4.svg), url(../../SVG/Recurso\ 8.svg), url(../../SVG/Recurso\ 16.svg), url(../../SVG/Recurso\ 5.svg),url(../../SVG/Recurso\ 18.svg),url(../../SVG/Recurso\ 14.svg),url(../../SVG/Recurso\ 15.svg),url(../../SVG/Recurso\ 16.svg),url(../../SVG/Recurso\ 17.svg),url(../../SVG/Recurso_Texto.svg) !important;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat,no-repeat,no-repeat,no-repeat, no-repeat,no-repeat,no-repeat,no-repeat,no-repeat;
        background-position: 10% 15%, 38% 18%,75% 19%,0% 22%,19% 29%,83% 30%,0% 66%, 113% 64%,35% 59%,64% 72%,88% 71%,100% 49%;
        background-size: 14%,10%,10%,20%,15%,10%,45%,28%,10%,10%,10%,50%;
    }

    ul.nav.navbar-nav.navbar-right.text-center.navbar {
        width: 67%;
        margin-top: 9px;
    }
    
    .logo{

        width:  100% !important;
        height: 100% !important;
        padding-left: 20% !important;
        
    }
    
    .navbar{
        font-family:'Avenir Roman', sans-serif !important;
        color: blue !important;
        width: 100%;
    }
    
    .navbar li {
    
        padding: 0 4px !important;
    }
    .navbar li a{
    
        color: #041160 !important;
        font-size: 16px !important;
        text-shadow: 1px 0;
    
    }

    .navbar li a img {
        width: 35px;
        margin-top: -8px;
    }
    
    .button_navbar{
        font-size: 20px ! important;
        background-color:#041160 !important; 
        border: none!important; 
        color: white!important; 
        text-decoration: none!important; 
        margin: 2px 2px!important; 
        cursor: pointer!important; 
        border-radius: 30px;
    
    }
    .button_navbar a {
     color: white !important    ;
    }
    
    /*Fin navbar */
    
    /*Comienza la sección 1 */
    .title{
     margin-top: 20%;
     margin-left: 10%;
     font-family:'Avenir_Bold', sans-serif !important;

    }
    
    
    
    .row_seccion1
    {
        margin-right: -31px !important;
        margin-left: -15px !important;
    
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
      }
    
    .column {
        float: left;
        width: 50%;
        padding: 10px;
        height: 600px; /* Should be removed. Only for demonstration */
      }
    
    .column_image {
    
        float: left;
        width: 50%;
        padding: 10px;
        height: 600px;
    }
    
    .column .title
    {
        font-size: 300% !important;
        color: #4AC3E9;
        margin-top: 27%
    
    }
    
    .paragraph
    {
        font-size: 150% !important;
        margin-top: 5% !important;
        margin-left: 10% !important;
         font-family:'Avenir Roman', sans-serif !important;
        color: #526775;
    }
    
    
    .background {
    
        background-image: url("../../imgNew/home.png");
        background-size: contain;
        background-repeat: no-repeat;
    
        
    }
    
    
    .button_paragraph
    {
        height: 12%;
        font-size: 28px ! important;
        background-color: #041160 !important;
        border: none!important;
        color: white!important;
        text-decoration: none!important;
        cursor: pointer!important;
        border-radius: 35px;
        padding: 20px 20px;
        box-shadow: 0px 0px 66px -12px rgba(108,82,240,0.89);
        text-shadow: 1px 0;
        margin-top: 13%;
        margin-left: 41%;
    }
    
    /*Fin la sección 1 */
    
    
    /*Comienza la sección 2 */
    
    
    
    .background_forms{
        
        /*
        background-image: url(../../SVG/Recurso\ 3.svg), url(../../SVG/Recurso\ 7.svg), url(../../SVG/Recurso\ 4.svg), url(../../SVG/Recurso\ 8.svg), url(../../SVG/Recurso\ 16.svg);

        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat,no-repeat;
        
        background-position: 13% 7%, 34% 33%,72% 36%,-11% 190%,19% 118%;
        
        background-size: 13%,10%,8%,29%,17%;
        */
        height: 650px !important;

    
    
    }
    
    .solucion_titulo{
    
        font-size: 262% !important;
        color: #338BFF;
        font-family:'Avenir_Bold', sans-serif !important;
        margin-left: 24%;
        margin-top: 10%;
    }



    .solucion_subtitulo
    {
        font-size: 300% !important;
        color: #041160;
        font-weight: bolder;
        /* text-shadow: 2px 0; */
        letter-spacing: 1px;
        margin-top: 10%;
        margin-left: 37%;
    
    }


    .subtitulo_seccion3
    {

        margin-left: 37% !important;



    }


    
    .solucion_card {
        background-image: url("../imgNew/quees1-03.svg");
        background-size: contain;
        background-repeat: no-repeat;
        transition: 0.3s;
        padding: 5px;
        height: 200px; /* Should be removed. Only for demonstration */
        box-shadow: 0px 0px 66px -12px rgba(108,82,240,0.89);
        text-shadow: 1px 0;
        border-radius: 35px;
        float:center;
    
      }

      .column_card {
        align-content: center;
        float: left;
        width: 25%;
        padding: 0 0px;
        position: relative;
      }
      
      /* Remove extra left and right margins, due to padding */
      .row_card {



        margin: 0 0px;
        margin-left: 3%;
   

      }
      
      /* Clear floats after the columns */
      .row_card:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Responsive columns */
      @media screen and (max-width: 600px) {
        .column_card {
        
          width: 100%;
          display: block;
          margin-bottom: 20px;
        }
      }
      
      /* Style the counter cards */
    
      .img_card{
        
    
        border: none !important;
        border-radius: 25px;
        height: 210px;
        /* width: 280px; */
        margin-left: 0%;
    
    }
    
    .img_number
    {
        position: absolute;
        font-size: 260%;
        color: white !important;
         font-family:'Avenir Roman', sans-serif !important;
        font-weight: 800;
        top: -113%;
        right: 5%;
        left: 80%;
    }
    
    .img_container
    {
        position: absolute;
        align-content: center;
        top: 39%;
        margin-right: 29%;
        margin-left: 9%;
    }



    .img_title
    {
        
        font-size: 120%;
        color: white !important;
        font-family:'Avenir_Bold', sans-serif !important;
        top: 40% !important;
        right: 31% !important;
    }

    .img_title_none
    {
        display:none;
    }

    .img_text{
        font-size: 100%;
        color: white !important;
         font-family:'Avenir Roman', sans-serif !important;
        font-weight: 100;
    }

    
    
    /*Fin la sección 2 */
    
    /*Inicio sección 3*/
    .background_seccion3{
    
        /*
        background-color: white !important;

        background-image: url(../../SVG/Recurso\ 8.svg), url(../../SVG/Recurso\ 16.svg), url(../../SVG/Recurso\ 5.svg);
        
        background-repeat: no-repeat,no-repeat,no-repeat;
        
        background-position: -1.211% -117%,19% -21%,86% 7%;
        
        background-size: 18%, 17%, 9%;
        */
        height: 307px !important;

        
        width: auto;
        
    }
    
    .paragraph_seccion3{
        
         font-family:'Avenir Roman', sans-serif !important;
        color: #526775;
        margin-top: 4%;
        margin-left: 10%;
        margin-right: 8%;
    
    
    }
    
    .paragraph_lastPhrase_seccion3{
         font-family:'Avenir Roman', sans-serif  !important;
        color: #526775;
        margin-top: 4%;    
       
    }
    
    .column_seccion3{
    
        align-content: center;
        float: left;
        width: 16%;
        margin-right: 30px;
    
    }
    .row_seccion3
    {
        padding-top: 5%;

        align-content: center;
        
        width: 100%;
        
       
    
    }
    
    
    .title_seccion3{
         font-family:'Avenir Roman', sans-serif !important;
        color: #041160;
        margin-top: 4%;
        font-weight: 500;
        font-size: 13px;
    
    }
    .img_seccion3
    {
        width: 64%;
        margin-left: 17%;
    }
    
    
    
    /*Fin seccion3*/

    .background_seccion_probar{

   
        /*
        background-image: url("../SVG/Recurso\ 18.svg"),url("../SVG/Recurso\ 14.svg"),url("../SVG/Recurso\ 15.svg"),url("../SVG/Recurso\ 16.svg"),url("../SVG/Recurso\ 17.svg");
        background-repeat:no-repeat, no-repeat,no-repeat,no-repeat,no-repeat;
        background-position: 0% 50%, 115% 20%,30% 5%,65% 100%,90% 100%;
        background-size: 45%,28%,10%,10%,10%;
        */
        height: 700px !important;
        width: auto;
    
    }
    
    
    .imagen_probar{
        width: 118%;
        margin-left: 3%;
        margin-right: 50%;
        margin-top: 30%;
    }
    
    .titulo_probar{
        font-family:'Avenir_Bold', sans-serif !important;
        color: #041160;
        /* letter-spacing: 2px; */
        margin-top: 62%;
        font-size: 200%;
    
    }

    .titulo_probar span{
        font-family:'Avenir_Bold', sans-serif !important;

    }
    .subtitulo_probar{
        font-family: 'Avenir Roman', sans-serif !important;
        color: #526775 !important;
        font-size: 90% !important;
        letter-spacing: 2px;
        margin-top: 6%;
        margin-bottom: 11%;
    
    }
    
    .button_probar
    {
         font-family:'Avenir Roman', sans-serif !important;
        font-weight: 20%;
        font-size: 21px ! important;
        background-color: #041160 !important;
        border: none!important;
        color: white!important;
        text-decoration: none!important;
        margin: 6% 0%!important;
        cursor: pointer!important;
        border-radius: 35px;
        padding: 9px 24px;
        box-shadow: 0px 0px 66px -12px rgba(108,82,240,0.89);
        /* text-shadow: 1px 0; */
        margin-top: 8% !important;
        font-weight: 600;
        letter-spacing: 1px;
        
    }
    
    /*Inicio seccion4*/
    
    .background_seccion4{
    
        /*
        background-color: white !important;

        background-image: url(../../SVG/Recurso\ 18.svg),url(../../SVG/Recurso\ 14.svg),url(../../SVG/Recurso\ 15.svg),url(../../SVG/Recurso\ 16.svg),url(../../SVG/Recurso\ 17.svg);
        
        background-repeat: no-repeat, no-repeat,no-repeat,no-repeat,no-repeat;
        
        background-position: 0% 50%, 115% 20%,30% 5%,65% 100%,90% 100%;
        
        background-size: 40%,28%,10%,10%,10%;
         width: 107% !important;
        */
        height: 850px !important

        
       
    
    }
    
    
    .container_tittle_seccion4
    {
    
        width: 800px; 
        height:auto; 
        padding-top: 20%;
        padding-left: 5%;
    }


    .title_seccion4
    {
         font-family:'Avenir Roman', sans-serif !important;
        font-size: 200% !important;
        color: white;
        font-weight: 300;
        margin-top: 105%;
        margin-left: 6%;
        margin-right: 9%;
    
    
    }

    .column4
    {

        float: left;
        width: 41% !important;
        padding: 10px;
        height: 800px;
    }
    .row4{

        margin-right: -66px !important;
        margin-left: -15px !important;
    }

    .cards_column{

        margin-top: 25% !important;


        margin-left: -6%;
    
    }
 
    
    .card_number1
    {
        position: relative;

        background-color: white;
        
        z-index: 2;
        
        width: 164%;
        
        height: 200px;
        
        box-shadow: 0px 0px 36px -2px rgba(153,147,153,0.82);
        
        margin-left: 10%;
        
        margin-top: 6%;
        
    }
    
    .card_number2
    {
        position: relative;
        background-color: white;
        z-index: 2;
        width: 138%;
        height: 200px;
        box-shadow: 0px 0px 36px -2px rgba(153,147,153,0.82);
        margin-top: 4%;
        margin-left: 55%;
    
    }
    
    .card_number3
    {
        position: relative;

        background-color: white;
        
        z-index: 2;
        
        width: 164%;
        
        height: 200px;
        
        box-shadow: 0px 0px 36px -2px rgba(153,147,153,0.82);
        
        margin-top: 3%;
        
        margin-left: 6%;
    }
    
    .card_number4
    {
        position: relative;
        background-color: white;
        z-index: 2;
        width: 141%;
        height: 200px;
        box-shadow: 0px 0px 36px -2px rgba(153,147,153,0.82);
        margin-top: -2%;
        margin-left: 52%;
    }
    
    .card_text
    {
        margin-top: 6%;
        /* margin-left: 6px; */
        color: #526775;
        font-size: 97%;
         font-family:'Avenir Roman', sans-serif !important;
        padding-top: 15%;
        margin-left: 9%;
        font-weight: 300;
    }
    
    .card_text_highlight
    {
        color: #4AC3E9 !important; /* Temporal */ 
        font-weight: 400 !important;
    
    
    }
    
    
    /*
    
    FORM
    */
    
    .form_text
    {
         font-family:'Avenir Roman', sans-serif !important;
        color: #041160;
        margin-top: 4%;
        font-weight: 500;
        font-size: 220%;
        position: absolute;
        z-index: 4;
        margin-left: 13%;
        margin-top: 0%;
        margin-right: 54%;
    
    }
    
    .form_tittle
    {
         font-family:'Avenir Roman', sans-serif !important;
        color: #041160;
        font-weight: 500;
        font-size: 180%;
        position: absolute;
        z-index: 4;
        margin-left: 57%;
        margin-top: -41%;
        margin-right: 5%;
    }


    
    .button_form{
        height: 8%;
        font-size: 20px !important;
        background-color: #041160 !important;
        border: none !important;
        color: white !important;
        text-decoration: none !important;
        margin: 3% 57% !important;
        cursor: pointer !important;
        border-radius: 35px;
        padding: 1px 70px;
        box-shadow: 0px 0px 66px -12px rgba(108,82,240,0.89);
        text-shadow: 1px 0;
        position: absolute;
        z-index: 4;
    
    }
    
    
    .cellphone_form
    {
        position: absolute;
        z-index: 4;
        margin-left: 57%;
        width: 300px;
        font-size: 200%;
        text-align: center;
        border: none;
        border-bottom: 4px solid #041160;
        margin-top: -23% !important ;
    }
    
    
    .cellphone_form::placeholder
    {
        letter-spacing: 2px;
        color: gray;
    
    }




    .name_form
    {
        position: absolute;
        z-index: 4;
        margin-left: 57%;
        font-size: 200%;
        width: 300px;
        margin-top: -14%;
        text-align: center;
        border: none;
        border-bottom: 4px solid #041160;
    }


    .name_form::placeholder
    {
        letter-spacing: 2px;
        color: gray;
        font-size:50%;

    }
    
    .country_list
    {
        position: absolute;
        margin-top: 20%;
        margin-left: 30%;
        z-index: 4;
        width: 50%;
    
    }
    
    
    
    
    
    /*Fin de seccion 4*/
    
    
    
    
    
    /*Inicio de seccion 5*/
    
    
    .background_seccion5
    {
        max-height: 400px !important;
        min-height: 300px !important;
        
    }
    
    
    .footer_gradient
    {
    width: 107%;
    min-height: 400px !important;
    background: linear-gradient(312deg, rgba(91,59,255,1) 0%, rgba(46,198,236,1) 100%) !important;
    }


    
    
    .contact_form
    {
    
        width: 80%;
        height: 60%;
        margin-left: 10%;
        margin-top: 10%;
        overflow: auto;
    
    }
    
    .contact_form_polygon
    {
    
        shape-outside:polygon(5.08% 91.05%,19.79% 88.25%,79.21% 76.84%,79.04% 45.41%,79.08% 16.00%,5.79% 11.30%);
        background: white;
    
    }
    
    
    .image_test {
        width: 109%;
        height: 1000px;
        margin-top: -72%;
        margin-left: -4%;
        z-index: 2;
        position: absolute;
    
    
    
    }
    
    
    
    .column_footer
    {
        float: left;
        width: 50%;
        margin-top: 34%;
    
    }
    
    .left_container
    {
    
    
        margin-top: -10%; 
        margin-left: 9%;
    }
    
    .column_footer_rigth
    {
    
        float: left;
        width: 20%;
        color: white;
         font-family:'Avenir Roman', sans-serif !important;
        font-weight: 300;
        margin-top: 37%;
        margin-left: 16%;
    
    
    
    }
    
    
    .title_footer{
    
        color: white;
         font-family:'Avenir Roman', sans-serif !important;
        font-weight: 300;
        font-size: 250%;
        letter-spacing: 1px;
    
    }
    
    
    .text_footer
    {
        color: white;
         font-family:'Avenir Roman', sans-serif !important;
        font-weight: 340;
        font-size: 110%;
        letter-spacing: 1px;
    }
    
    
    .line_footer
    {
    
        color:white; 
        width: 29%;
        margin-left: 0%;
    }
    
    .rigth_container
    {
    
    
        margin-top: -37%;
        margin-right: 9%;
        font-size: 70%;
    }
    
    .rigth_container_tittle
    {

        font-size: 400%;
    }
    .rigth_cotainer_list
    {
    
        font-size: 200%;

        font-weight: 300;
        
        margin-top:22%;
        
        letter-spacing: 1px;
    
    }
    
    .img_footer
    {
        width: 4%;
        height: 4%;
        display: inline;
    }
    
    
    .tittle_footer
    {
        font-size: 400%;
        font-weight: 400;
    
    }
    .info_footer
    {
    
        color: white;
        display: inline;
        margin-left: 2%;
    }

    .row_footer{

        margin-top:10%;
    }
    
    .contacto_container
    {
        height: 511px !important
    }



    .articulo_link
    {
         font-family:'Avenir Roman', sans-serif !important;
        margin-left: 28%;
        color: #041160;
        font-size: 103%;
        font-weight: 500;
        text-decoration: none!important; 
    
    }
}